body {
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #ADD6F2;
  font-family: 'Yellowtail', cursive;
}
.col-sm-4 {
  background-color: #ADD6F2
}
.col-sm-5 {
  background-image: url("/images/background.jpg");
}
.col-sm-6 {
  background-color: #ADD6F2
}
